.scatter-plot-chart {
  position: relative;
}

.scatter-plot-chart__point {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  background: #ccc;
  color: #eee;
  height: 20px;
  width: 20px;
}
